$yellow: #FFE600;
$black: #333333;
$gray:  #666;
$dark-gray: #999999;
$light-gray: #EEEEEE;
$blue: #3483FA;
$gray-100: #eeeeee;
$gray-200: #999999;
$gray-300: #666666;
$gray-400: #333333;
$white: #ffffff;

// font sizes
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 28px;
$font-size-xxl: 46px;

// layout
$cols: 12;
$cols-gutter: 20px;
$margin-s: 16px;
$margin-m: 32px;
$max-container-width: 1280px;
$max-content-width: 1180px;
$col-width: calc((100% - #{$cols-gutter} * (#{$cols} - 1)) / #{$cols});

// breakpoints
$small-width: 480px;
$medium-width: 768px;