@import "variables";

header {
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  padding: 7px;
}

nav {
  width: auto;
  display: flex;
  padding: 2rem;
  width: 70%;
  justify-content: center;
  padding: 0;

  img {
    padding-bottom: 0.2rem;
    height: 2rem;
    align-self: center;
  }
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
}

.search-input {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  font-size: 1.1rem;
  border: 1px solid $light-gray;
  color: $dark-gray;
  padding: 0.2rem;
  padding-left: 1rem;
  margin-left: 1rem;
}

.search-button {
  background: $light-gray;
  border: none;
  font-size: 22px;
  color: $gray;
  width: 5%;
  cursor: pointer;
  background-image: url("../../images/ic_Search.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (max-width: 26rem) {
  nav {
    width: auto;
  }

  .search-button {
    width: 3rem;
  }
}
