@import "variables";

//  Item Details
.item-wrapper {
	background-color: $white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 50px;
}

.item-picture {
	box-sizing: border-box;
	display: inline-block;
	padding: $margin-s $margin-m;
	width: 70%;
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	@media (max-width: $medium-width) {
		width: 100%;
	}
}

.item-details {
	box-sizing: border-box;
	color: $gray-400;
	display: inline-block;
	padding-right: $margin-m;
	vertical-align: top;
	width: 30%;
	.item-price {
		font-size: $font-size-xxl;
		margin: $margin-m 0;
	}
	.item-name {
		font-size: $font-size-l;
		font-weight: 600;
		margin: 0;
	}
	.item-condition {
		display: block;
		font-size: $font-size-xs;
		margin-bottom: $margin-s;
		margin-top: $margin-m;
	}

	.buy-button {
		background-color: $blue;
		border: none;
		border-radius: 3px;
		color: $white;
		cursor: pointer;
		font-size: $font-size-s;
		margin-bottom: $margin-m;
		padding: 12px;
		width: 100%;
	}
	@media (max-width: $medium-width) {
		padding: $margin-s $margin-m;
		width: 100%;
	}
}

.item-description {
	box-sizing: border-box;
	color: $gray-400;
	display: inline-block;
	margin-top: $margin-m;
	padding-left: $margin-m;
	width: 70%;
	h4 {
		font-size: $font-size-xl;
		font-weight: 400;
		margin-top: $margin-s;
		margin-bottom: $margin-m;
	}
	p {
		color: $gray-200;
		font-size: $font-size-s;
		margin-top: 0;
		margin-bottom: $margin-m;
		white-space: pre-line;
	}
	@media (max-width: $medium-width) {
		padding: $margin-s $margin-m;
		width: 100%;
	}
}
