// colors
$yellow: #ffe600;
$blue: #3483fa;
$gray-100: #eeeeee;
$gray-200: #999999;
$gray-300: #666666;
$gray-400: #333333;
$white: #ffffff;

// layout
$cols: 12;
$cols-gutter: 20px;
$margin-s: 16px;
$margin-m: 32px;
$max-container-width: 1280px;
$max-content-width: 1180px;
$col-width: calc((100% - #{$cols-gutter} * (#{$cols} - 1)) / #{$cols});

// font sizes
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 28px;
$font-size-xxl: 46px;

// breakpoints
$small-width: 480px;
$medium-width: 768px;

@import './shared/assets/styles/normalize.min.css';

body {
	box-sizing: border-box;
	background-color: $gray-100;
	font-family: Helvetica, Arial, sans-serif;
}

.content-wrapper {
	margin: 0 auto;
	max-width: $max-content-width;
	padding-left: calc(#{$col-width} + #{$cols-gutter});
	padding-right: calc(#{$col-width} + #{$cols-gutter});
	@media (max-width: $small-width) {
		padding-left: $margin-s;
		padding-right: $margin-s;
	}
}
// Search Results

$item-thumbnail-size: 180px;

.search-results {
	background-color: $white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 50px;
	padding: 0;
	
	.item-thumbnail {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 4px;
		height: $item-thumbnail-size;
		width: $item-thumbnail-size;
	}
}

// loading

.loading {
	animation: loading .6s infinite linear;
	border-bottom: 6px solid rgba(52, 131, 250, .15);
	border-left: 6px solid rgba(52, 131, 250, .15);
	border-radius: 100%;
	border-right: 6px solid rgba(52, 131, 250, .15);
	border-top: 6px solid rgba(52, 131, 250, .8);
	font-size: 0;
	height: 60px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
}

// Breadcrumbs
.breadcrumbs {
	color: $gray-200;
	font-size: $font-size-xs;
	list-style: none;
	margin: $margin-s 0;
    padding: 0;
    li {
    	display: inline-block;
    	&:not(:last-child):after {
    		content: '>';
    		padding: 0 5px;
    	}
    	&:last-child {
    		font-weight: 600;
    	}
    	@media (max-width: $small-width) {
    		line-height: $font-size-m;
    	}
    }
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}